{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Koshaghar</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'ang/favicon.ico' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'ang/styles.6dec1f15b46be9f29549.css' %}"></head>
<body>
	<app-root></app-root>
	<script type="text/javascript" src="{% static 'ang/runtime-es2015.23d5cfd07e19f065eceb.js' %}"></script>
	<script type="text/javascript" src="{% static 'ang/polyfills-es2015.a3126b96d3545311a16c.js' %}"></script>
	<script type="text/javascript" src="{% static 'ang/main-es2015.ff6293f9ae14db5c3041.js' %}"></script>
</body>
</html>
